.songContainer{
    position: relative;
    width: 80%;
    min-height: 5vw;
    height: auto;
    margin-top: 2vw;
    border-radius: 3vw;
    background-color: rgba(255, 255, 255, 0.774);
}

.songNameHeader{
    color: black;
    font-family: 'songsNamesFonts', sans-serif;
    font-size: 5vw;
}
.lyricsContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 0 3vw;
    margin-bottom: 2vw;
    overflow: hidden;
}

