.profilePageSongCard{
    width: 13vw;
    height: 16vw;
}
.requestCard{
    width: 19vw;
    height: 15vw;
    margin: 0.5vw 0;
    padding: 0.5vw 1vw;
    border-radius: 1vw;
    background-color: #ffffff;
    color: #000;
    text-align: left;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: system-ui, sans-serif;
}
.seeAllButton{
    position: absolute;
    top: 3vw;
    right: 1vw;
    width: 5vw;
    height: 3vw;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 10;
}
.seeAllButton:hover {
    transform: none;
    box-shadow: none;
}