.main-menu {
    position: fixed; /* נשאר במקום גם כשגוללים */
    top: 0;          /* תמיד למעלה */
    left: 50%;       /* מתחיל משמאל */
    transform: translateX(-50%); /* מרכז את התפריט */
    z-index: 1000;   /* מעל תוכן אחר */
      flex-wrap: wrap;

}