.chords-page {
    margin-top: 2vw; /* מוסיף רווח למעלה כדי לאפשר לתפריט להיות גלוי */
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3vw;
    overflow: auto;
}
.chords-container {
  width: 100%;
  display: flex;
  justify-content: left;
  box-sizing: border-box;
  padding: 4.5vw;
  padding-top: 2vw;
  flex-direction: row;
  flex-wrap: wrap;
}

.chord-item {
  position: relative;
}
.chord-item:hover .star-button-container {
  display: block;
}
.chord-item > :not(.star-button-container) {
  margin: 1vw;
  width: 16vw;
  height: 22vw;
  padding: 0.5vw;
  background-color: white;
  border-radius: 1vw;


}

.chord-item:hover > * {
  border-color: rgba(234, 246, 59, 0.4); /* כחול */
  box-shadow: 0 0 5vw rgba(234, 246, 59, 0.4); /* הילה כחולה */
}

.star-button-container{
  position: absolute;
  top: 2.2vw;
  right: 2.5vw;
  display: none;
}
.chord-name {
    font-size: 2vw;
    font-weight: bold;
    margin-top: 0.5vw;
    margin-bottom: -0.5vw;
    padding: 0;
    text-align: center;
    color: black;
    user-select: none;
    -webkit-user-select: none; /* לכרום וספארי */
    -moz-user-select: none;    /* לפיירפוקס */
    -ms-user-select: none;     /* לאקספלורר */
}

.chord-diagram {
    width: 100%;
    height: calc(100% - 3vw);
    background-color: #f0f0f000;
    border-color: black;
    border-width: 0.2vw;
    border-style: solid;
    border-radius: 1vw;
    box-sizing: border-box;
}

.chord-svg {
  width: 100%;   /* תופס את כל הרוחב של ההורה */
  height: auto;  /* שומר על הפרופורציות */
  display: block; /* מסיר רווח מתחת ל-svg */
}

.chord-svg text {
    user-select: none;
    -webkit-user-select: none; /* לכרום וספארי */
    -moz-user-select: none;    /* לפיירפוקס */
    -ms-user-select: none;     /* לאקספלורר */
}


.createChord {
    margin: 1vw;
    width: 16vw;
    height: 22vw;
    padding: 0.5vw;
    background-color: white;
    border-radius: 1vw;
    color: rgb(0, 0, 0);
    font-size: 8vw;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none; /* לכרום וספארי */
    -moz-user-select: none;    /* לפיירפוקס */
    -ms-user-select: none;     /* לאקספלורר */
}


.starButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vh;
    font-size: 1.25vw;
    color: #686348;
    background-color: #fff2a8;
    border-radius: 1vw;
    width: 8vw;
    height: 3.5vw;
    padding: 0.5vw;
    gap: 1.4vw;
    
}
