.carousel{
     position: relative;
     width: 100%;
     overflow: hidden;
 }
.carousel .carousel-button {
    height: 25%;
    width: 20%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(99, 99, 99);
    border: none;
    color: white;
    padding: 0;
    cursor: pointer;
    z-index: 1;
 }
.carousel-button.prev {
    left: -15%;
}
.carousel-button.next {
    right: -15%;
}


.carousel .carousel-button svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: auto;
}
.carousel .carousel-button.prev svg {
    right: 0;
}
.carousel .carousel-button.next svg {
    left: 0;
}

