.main-menu {
    position: fixed; /* נשאר במקום גם כשגוללים */
    top: 2%;          /* תמיד למעלה */
    left: 50%;       /* מתחיל משמאל */
    transform: translateX(-50%); /* מרכז את התפריט */
    z-index: 20;   /* מעל תוכן אחר */
    flex-wrap: wrap;

}

.radio.profile, .radio.loginSignup {
    flex: 0 1 auto;
    padding: 0 0.2vw;
    border-radius: 0.5vw;
    background-color: rgb(146, 146, 146);
    cursor: pointer;
}